$color: #c551b6;
$height: 150px;
$margin: 30px;
$accent: adjust-hue($color, -120);
$accent2: adjust-hue($color, 120);
$gradient: linear-gradient(90deg, adjust-hue($accent, 20), adjust-hue($accent, 30));
$gradient2: linear-gradient(90deg, adjust-hue($accent2, 10), adjust-hue($accent2, 20));
$titleoverlap: 40px;

%absolutecenter {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

%restmarginpadding{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

%centeredtext{
    font-family: 'Nunito', sans-serif;
    text-align: center;
    color: white;
    font-size: 1em;
}

body{
    @extend %restmarginpadding;
    background: darken($accent, 25);
    //perspective: 600px;
}

canvas {
    @extend %restmarginpadding;
    margin-top: -120px;
    height: calc(100vh + 120px);
    position: absolute;
}

.rotated{
    transform: translate(-50%, -100%) rotateX(-90deg);
}

intro-container{
    @extend %absolutecenter;
    //transition: all 0.5s ease-in-out 0.5s;
    //transform: translate(-50%, 40%) rotateX(0deg);
    backface-visibility: hidden;
    position: absolute;
    flex-direction: column;
    justify-content: baseline;
    align-content: baseline;
    top: 45%;
    width: 100%;
    max-width: 720px;
    display: flex;
    background: rgba(0,0,0,0.3);
    border-radius: 20px;
    padding: $margin * 1.3;

    img {
        height: 180px;
        width: 180px;
        border: 2px solid white;
        border-radius: 100px;
        position: absolute;
        margin-top: -6px;
        margin-left: 67%;
    }

    p {
        @extend %centeredtext;
        font-family: 'Montserrat', sans-serif;
        font-size: 1.5em;
        text-align: left;
        margin: 0;
    }

    grad-p {
        background: linear-gradient(90deg, lighten($accent2, 5), adjust-hue($accent2, 20));
        background-clip: text;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        color: rgba(white, $alpha: 0.1);
        font-family: 'Montserrat', sans-serif;
        font-size: 1em;
        text-align: left;
        border-radius: 10px;
        margin: 0;
    }

    .small {
        margin-left: 0;
        margin-top: $margin / 2;
        font-family: 'Roboto', sans-serif;
        font-size: 1.2em;
        letter-spacing: 0.5px;
        line-height: 1.5em;
        border: 0px solid white;
        border-radius: 10px;
        padding: $margin / 2;
        background-color: rgba(0, 0, 0, 0.2);
    }

    .big {
        text-align: left;
        font-size: 8em;
        margin-bottom: 10px;
        margin-top: -34px;
        margin-left: -9px;
    }

    i {
        transition: 0.2s all;
    }

    button-container{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    button{
        margin-top: $margin;
        @extend %centeredtext;
        border: none;
        height: 80px;
        border-radius: 10px;
        width: 100%;
        font-size: 1.5em;
        background: linear-gradient(90deg, lighten($accent2, 5), adjust-hue($accent2, 20));
        transition: 0.2s all;
        color: white;
        outline: none;
        text-shadow: 0 0 5px rgba(0, 0, 0, 0.322);
        
    
        &:hover {
            filter: brightness(1.1);
        }

        &:hover > i {
            transform: rotate(360deg);
        }
    
        &:focus {
            outline: none;
        }
    }

    .alt-bg{
        background-image: $gradient;
    }

    .alt-bg2{
        background-image: linear-gradient(90deg, adjust-hue($color, 10), adjust-hue($color, 20));
        
    }

    .btn-margin {
        margin-left: $margin;
    }
}

.header-bg{
    height: $height + 5;
    position: absolute;
    width: 100vw;
    background: $color;
}

.content{
    margin-top: $titleoverlap * 3;
    display: grid;
    grid-template-columns: 1fr minmax(300px, 600px) 1fr;
}

.center{
    grid-column: 2;
    background: darken($color, 10);
    width: 100%;
    height: 100vh;
}

.title {
    width: calc(100% + $titleoverlap * 2);
    transform: rotate(0deg);
    margin-top: -$titleoverlap * 2;
    margin-left: -$titleoverlap;
    margin-right:-$titleoverlap;
    height: $height * 0.8;
    background: $gradient;
    padding-top: $height/ 20;
    box-sizing: border-box;

    p{
        @extend %centeredtext;
        font-family: 'Rubik Mono One', sans-serif;
        align-self: center;
        justify-self: start;
        font-size: 2em;
        transform: scale(0.8, 1);
    }
}

header {
    background: $gradient;
    height: $height;
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: repeat(3, 1fr);
    transform: rotate(-2deg);
    margin-top: 20px;
    margin-left: -20px;
    width: calc(100vw + 30px);

    #logo{
        color: white;
        grid-column: 1;
        grid-row: 2;
        font-family: 'Rubik Mono One', sans-serif;
        padding: 0;
        font-size: 2em;
        transform: scale(0.8, 1);
        align-self: center;
        justify-self: start;
        padding-left: 20px;
    }
 
}

.items {
    position: absolute;
    bottom: 12%;
    left: 50%;
    transform: translate(-50%, 0);
    grid-column: 2;
    grid-row:2;
    box-sizing: border-box;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);
    display: grid;
    justify-self: end;
    background: rgba(0, 0, 0, 0);
    height: 80px;
    border-radius: 10px;
    z-index: 2;

    div{  
        border-radius: 10px;
        grid-row:2;   
        max-width: 150px;
        min-width: 150px;
        margin-top: 0;
        margin-bottom: 0;
        align-self: center;   
        width: auto;
        box-sizing: border-box;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        border-bottom: 1px solid rgba(255, 255, 255, 0);
        border-collapse: collapse;
        height: 80px;
        background: rgba($color, $alpha: 0);
        z-index: 2;
        transition: 0.2s all;

        &:hover {
            opacity: initial;
            background: rgba(white, $alpha: 0.1);
        }

        p {
            @extend %centeredtext;
            margin-top: 20px;             
            grid-column: 1 / span 3;
            grid-row: 1;
            line-height: 0;
            font-size: 1.2em;
        }

        i {  
            transform: scale(2) rotate(90deg);
            color: white;
            justify-self: center;
            align-self: center;
            grid-column: 1 / span 3;
        }
    }
}