intro-container {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

body, canvas {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

intro-container p, intro-container button, .title p, .items div p {
  font-family: 'Nunito', sans-serif;
  text-align: center;
  color: white;
  font-size: 1em;
}

body {
  background: #266771;
}

canvas {
  margin-top: -120px;
  height: calc(100vh + 120px);
  position: absolute;
}

.rotated {
  transform: translate(-50%, -100%) rotateX(-90deg);
}

intro-container {
  backface-visibility: hidden;
  position: absolute;
  flex-direction: column;
  justify-content: baseline;
  align-content: baseline;
  top: 45%;
  width: 100%;
  max-width: 720px;
  display: flex;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  padding: 39px;
}

intro-container img {
  height: 180px;
  width: 180px;
  border: 2px solid white;
  border-radius: 100px;
  position: absolute;
  margin-top: -6px;
  margin-left: 67%;
}

intro-container p {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5em;
  text-align: left;
  margin: 0;
}

intro-container grad-p {
  background: linear-gradient(90deg, #becb64, #8fc551);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  color: rgba(255, 255, 255, 0.1);
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
  text-align: left;
  border-radius: 10px;
  margin: 0;
}

intro-container .small {
  margin-left: 0;
  margin-top: 15px;
  font-family: 'Roboto', sans-serif;
  font-size: 1.2em;
  letter-spacing: 0.5px;
  line-height: 1.5em;
  border: 0px solid white;
  border-radius: 10px;
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.2);
}

intro-container .big {
  text-align: left;
  font-size: 8em;
  margin-bottom: 10px;
  margin-top: -34px;
  margin-left: -9px;
}

intro-container i {
  transition: 0.2s all;
}

intro-container button-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

intro-container button {
  margin-top: 30px;
  border: none;
  height: 80px;
  border-radius: 10px;
  width: 100%;
  font-size: 1.5em;
  background: linear-gradient(90deg, #becb64, #8fc551);
  transition: 0.2s all;
  color: white;
  outline: none;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.322);
}

intro-container button:hover {
  filter: brightness(1.1);
}

intro-container button:hover > i {
  transform: rotate(360deg);
}

intro-container button:focus {
  outline: none;
}

intro-container .alt-bg {
  background-image: linear-gradient(90deg, #518fc5, #517cc5);
}

intro-container .alt-bg2 {
  background-image: linear-gradient(90deg, #c551a3, #c5518f);
}

intro-container .btn-margin {
  margin-left: 30px;
}

.header-bg {
  height: 155px;
  position: absolute;
  width: 100vw;
  background: #c551b6;
}

.content {
  margin-top: 120px;
  display: grid;
  grid-template-columns: 1fr minmax(300px, 600px) 1fr;
}

.center {
  grid-column: 2;
  background: #aa399c;
  width: 100%;
  height: 100vh;
}

.title {
  width: calc(100% + $titleoverlap * 2);
  transform: rotate(0deg);
  margin-top: -80px;
  margin-left: -40px;
  margin-right: -40px;
  height: 120px;
  background: linear-gradient(90deg, #518fc5, #517cc5);
  padding-top: 7.5px;
  box-sizing: border-box;
}

.title p {
  font-family: 'Rubik Mono One', sans-serif;
  align-self: center;
  justify-self: start;
  font-size: 2em;
  transform: scale(0.8, 1);
}

header {
  background: linear-gradient(90deg, #518fc5, #517cc5);
  height: 150px;
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: repeat(3, 1fr);
  transform: rotate(-2deg);
  margin-top: 20px;
  margin-left: -20px;
  width: calc(100vw + 30px);
}

header #logo {
  color: white;
  grid-column: 1;
  grid-row: 2;
  font-family: 'Rubik Mono One', sans-serif;
  padding: 0;
  font-size: 2em;
  transform: scale(0.8, 1);
  align-self: center;
  justify-self: start;
  padding-left: 20px;
}

.items {
  position: absolute;
  bottom: 12%;
  left: 50%;
  transform: translate(-50%, 0);
  grid-column: 2;
  grid-row: 2;
  box-sizing: border-box;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(3, 1fr);
  display: grid;
  justify-self: end;
  background: transparent;
  height: 80px;
  border-radius: 10px;
  z-index: 2;
}

.items div {
  border-radius: 10px;
  grid-row: 2;
  max-width: 150px;
  min-width: 150px;
  margin-top: 0;
  margin-bottom: 0;
  align-self: center;
  width: auto;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  border-bottom: 1px solid rgba(255, 255, 255, 0);
  border-collapse: collapse;
  height: 80px;
  background: rgba(197, 81, 182, 0);
  z-index: 2;
  transition: 0.2s all;
}

.items div:hover {
  opacity: initial;
  background: rgba(255, 255, 255, 0.1);
}

.items div p {
  margin-top: 20px;
  grid-column: 1 / span 3;
  grid-row: 1;
  line-height: 0;
  font-size: 1.2em;
}

.items div i {
  transform: scale(2) rotate(90deg);
  color: white;
  justify-self: center;
  align-self: center;
  grid-column: 1 / span 3;
}
